body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #379bf1;
    scroll-behavior: smooth;
    margin: 0;
}

img {
    width: 100%;
    height: 100%;
}

video {
    width: 100%;
    height: 100%;
}

.navbar {
    transition: background-color 0.3s ease;
    border-radius: 50px;
    margin: 5px auto;
    width: 100%;
    max-width: 100%;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(120deg, #0159c5, #ffc107);
    box-shadow: 0 10px 6px rgba(0, 0, 0, 0.5);
    color: white;
    animation: fadeIn 1s ease-out;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    white-space: nowrap; /* Prevent text wrapping */
    overflow: hidden; /* Hide overflow */
}

.navbar-nav .nav-link {
    flex: 1; /* Distribute space equally among nav links */
    color: white;
    margin-left: 0 1px;
    text-decoration: none;
    padding: 10px;
    text-overflow: ellipsis; /* Add ellipsis for overflow */
    overflow: hidden; /* Hide overflow */
}

.navbar-nav .nav-link:active,
.navbar-nav .nav-link:focus {
    color: black;
}

.DWCLlogo {
    width: 40px;
    height: 40px;
    margin-top: -0.5rem;
}

section {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

section.active {
    opacity: 1;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .navbar {
        width: 90%;
    }
}
